## Why Scikit-Learn? 
-built on Numpy and Matplotlib(and Python)

-Has many in built ML models

-Methods to evaluate your machine learning models

-Very well designed API

## A Scikit-learn worflow

-get data ready

-pick a model (to suit your problem)

-Fit the model to the data and make a prediction

-Evaluate the model

-Improve through experimentation

-Save and reload your trained model

## Refresher - What is Machine Learning?

Teach the computer to know what an object in real life is

Often, programs are procedural

Function can be replaced with a model - receives an imput and returns an output. (Model, Brain, Algorithm, Bot)that understands
imputs and returns an output. 

As models become more complex harder for devs to understand how it works. In order to train te machine, we have to give it data
Test to make sure the data that we give, gives the correct output.

In [1]:
##Improve with experimentation!!!

In [2]:
## Save and reload the trained model so that we dont have to redo it. we can just plug it in.

# What we are going to cover 

0.An end to end Sckit-Learn workflow
1.Getting data ready
2.Choose the right estimator/algoritm for our problems
3.Fit the model/algoritm and use it to make predictions on our data
4.Evaluating a model
5.Improve a model 
6.Save and load a trained model
7.Putting it all together

## 0.An end-to-end Scikit Learn Worflow

In [3]:
#1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/morganjones/miniconda3/lib/python3.10/site-packages (1.3.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/morganjones/miniconda3/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: scipy>=1.5.0 in /Users/morganjones/miniconda3/lib/python3.10/site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/morganjones/miniconda3/lib/python3.10/site-packages (from scikit-learn) (1.25.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/morganjones/miniconda3/lib/python3.10/site-packages (from scikit-learn) (1.3.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#Use the columns to predict the target, heart disease or not. 

#x= cols y will be the target

#Create X (features Matrix)
X=heart_disease.drop("target", axis=1)

#Create Y(labels)
y=heart_disease["target"]

In [6]:
#2. Choose the right model and hyperparameters (dials on model to tune to better or worse)
#RandomForestClassifier-scklit learn model capable of patterns in data and classifying in sample ( row) is one thing or another
#Instantiate the class using clf (classifier) 
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

#Keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [7]:
#3. Train the model to the training data and test on a test set. 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [8]:
clf.fit(X_train, y_train);
#Tells the forest to find the patterns in the training data.

In [9]:
import numpy as np

In [10]:
#make a prediction
y_label=clf.predict(np.array([0,2,3,4]));

/Users/morganjones/miniconda3/lib/python3.10/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
#The error above is becuase the shape is incorrect
#WHen you train a model on something that looks like X_train we can only make predictions on whatits already learned so we need to put in data from the actual model

In [11]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3
203,68,1,2,180,274,1,0,150,1,1.6,1,0,3
233,64,1,0,120,246,0,0,96,1,2.2,0,1,2
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2
168,63,1,0,130,254,0,0,147,0,1.4,1,1,3
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2

In [12]:
#Can make predictions on test data
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0])

In [13]:
#4 Evaluate the model on the training data and test data
#Model has found patterns in teh training data that its got 100% it got trained on the features from the csv. as well as the labels.
clf.score(X_train, y_train)

1.0

In [14]:
clf.score(X_test,y_test)
#75% acurracy because it hasnt seen the data or the labels.

0.8524590163934426

In [15]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.94      0.81      0.87        36
           1       0.77      0.92      0.84        25

    accuracy                           0.85        61
   macro avg       0.85      0.86      0.85        61
weighted avg       0.87      0.85      0.85        61

In [16]:
confusion_matrix(y_test, y_preds)

array([[29,  7],
       [ 2, 23]])

In [17]:
accuracy_score(y_test, y_preds)

0.8524590163934426

In [18]:
#5. Improve the model 

#Try different amount of n_estimators
#one of the hyperparameters (dials on ml model that we can tune)
np.random.seed(42)
for i in range(10,100,10):
    print(f"Tryint model with {i} estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")  
    print(" ")
          #2f is shortcut in python using format string syntax. It's similar to doing: round(some_number, 2)

Tryint model with 10 estimators...
Model accuracy on test set: 81.97%

Tryint model with 20 estimators...
Model accuracy on test set: 85.25%

Tryint model with 30 estimators...
Model accuracy on test set: 86.89%

Tryint model with 40 estimators...
Model accuracy on test set: 88.52%

Tryint model with 50 estimators...
Model accuracy on test set: 85.25%

Tryint model with 60 estimators...
Model accuracy on test set: 86.89%

Tryint model with 70 estimators...
Model accuracy on test set: 86.89%

Tryint model with 80 estimators...
Model accuracy on test set: 86.89%

Tryint model with 90 estimators...
Model accuracy on test set: 86.89%

In [19]:
#6. Save the model and load it

import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [20]:
loaded_model=pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8688524590163934

In [21]:
#Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 2. Get Data Ready to be used with Machine Learning
    1. Split the data into features and labels(usually `X` & `y`)
    2. Filling(also calling imputing)or disregarding missing values
    3. Converting non-numerical values to numerical values(also called feature encoding)

In [22]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [23]:
X = heart_disease.drop("target", axis=1)
#axis=1 is the columns data
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [24]:
y = heart_disease["target"];
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [25]:
#split data into test sets (training and test )
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [26]:
X_train.shape, X_test.shape,y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [27]:
X.shape[0]*0.8

242.4

In [28]:
#242 rows, 13 cols cause its 20% of the overall data. 80% of the data is going to be training data for the ML model
X.shape

(303, 13)

In [29]:
len(heart_disease)

303

# data science quick tip -CLEAN TRANSFORM REDUCE

When working with jupyter notebooks, it can be confusing, not understanding the WHY?
Data Scientist, more data doesn't mean its always good. \
Can have completely useless data, only want useful data
Clean Data - Transform Data - Reduce Data
Might have data with missing values, labels etc. 
Remove a row or column that is empty. 
fill an empty pricelist with an average. 
Might find outliers that we can just remove

To teach computers when we want to transform data into something that the compyuter can understand. 0, 1, 
What is a color to a computer? Convert to RGB numbers. 
Transform data between 0s and 1s, Yes or no? 
Data needs to use the same units (meters vs yards? )

Why reduce data?
Everything costs money, more data we have the more CPU, energy to run the computation, 
if we can get the same result on less data, can save money

## 1.1 Make sure it is all numerical

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline
car_sales = pd.read_csv('data/car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [70]:
car_sales["Doors"].value_counts()
#Safe to assume doors is numerical but it is also categorical. Treat doors as categorical

Doors
4    856
5     79
3     65
Name: count, dtype: int64

In [66]:
len(car_sales)

1000

In [31]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [68]:
#Split into X/Y

X = car_sales.drop("Price", axis=1)
y=car_sales["Price"]

#Split into training and test
X_train, X_test, y_train,y_test = train_test_split(X,
                                                   y,
                                                   test_size=0.2)

In [69]:
#Build a machine learning model that will learn on Xtrain Ytrain and predict on the test data

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
#Learn pattern relations between X data and the price lable
model.fit(X_train, y_test)
model.score(X_test,y_test)
#Need to convert these to numbers because it doesnt take a "string" value right now.

ValueError: could not convert string to float: 'Nissan'

# Turn the categories into numbers

In [71]:
#What is X? What is transformed X
#Transformed will turn everything into numbers
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [73]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder = "passthrough")
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [74]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [80]:
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]], dtype=int)
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [83]:
#Refit the model
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X, 
                                                   y,
                                                   test_size=0.2)
model.fit(X_train,y_train)
print(model.get_params())

{'bootstrap': True, 'ccp_alpha': 0.0, 'criterion': 'squared_error', 'max_depth': None, 'max_features': 1.0, 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

In [84]:
model.score(X_test, y_test)
#theres not too much information about each sample.

0.3235867221569877

## Getting Data Ready : Handling Missing Values with Pandas

 1. Fill them with some value(imputation)
 2. Remove the samples with missing data altogether.

In [92]:
# Import car sales missing data 
car_sales_missing = pd.read_csv("data/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [86]:
#to show how many missing values there are overall.

In [93]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [94]:
car_sales_missing["Doors"].value_counts()

Doors
4.0    811
5.0     75
3.0     64
Name: count, dtype: int64

In [95]:
#Fill the "Make" Column
car_sales_missing["Make"].fillna("missing", inplace=True)

In [96]:
#Fill the "Colour " Column
car_sales_missing["Colour"].fillna("missing", inplace=True)

#Fill the "Odometer (KM)" column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(),inplace=True)

#Fill the "Doors" column
car_sales_missing["Doors"].fillna(4, inplace=True)

In [97]:
#Check our dataframe again

In [98]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [99]:
#Price is left out cause its what we are trying to predict. We should remove rows with missing prices in them
car_sales_missing.dropna(inplace=True)

In [100]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [101]:
len(car_sales_missing)

950

In [103]:
#Create X & Y

X=car_sales_missing.drop("Price", axis=1)
y=car_sales_missing["Price"]

In [104]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                                   one_hot,
                                   categorical_features)],
                                   remainder = "passthrough")
transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

## Option 2: Fill missing values with Scikit-Learn

In [106]:
car_sales_missing = pd.read_csv("data/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [108]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [110]:
#Get rid of the rows with no labels
car_sales_missing.dropna(subset=["Price"],inplace = True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [111]:
#SPlit into X & Y
X = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

#Split data into train and test
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

In [114]:
#Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#Fill categorical values with the 'missing' and numerical values with mean

cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

#Define columns 
cat_features = ["Make", "Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

#Create an imputer (something that fills missing data)

imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_features)
    
])

#Fill train and test values separately

filled_X_train = imputer.fit_transform(X_train)
filled_X_test = imputer.transform(X_test)

#Check filled X_train
filled_X_train

array([['Honda', 'White', 4.0, 71934.0],
       ['Toyota', 'Red', 4.0, 162665.0],
       ['Honda', 'White', 4.0, 42844.0],
       ...,
       ['Toyota', 'White', 4.0, 196225.0],
       ['Honda', 'Blue', 4.0, 133117.0],
       ['Honda', 'missing', 4.0, 150582.0]], dtype=object)

In [125]:
car_sales_filled_train = pd.DataFrame(filled_X_train, 
                                      columns = ["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_filled_test = pd.DataFrame(filled_X_test,
                                      columns = ["Make", "Colour", "Doors", "Odometer (KM)"])

car_sales_filled_train.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [126]:
#One Hot encode the features
cat_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot", 
                                   one_hot,
                                   cat_features)],
                                   remainder="passthrough")

#Fill train and test values separately
transformed_X_train = transformer.fit_transform(car_sales_filled_train)
transformed_X_test = transformer.transform(car_sales_filled_test)

#Check transformed and filled X_train
transformed_X_train.toarray()

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 7.19340e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.62665e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 4.28440e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.96225e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.33117e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.50582e+05]])

In [127]:
transform_X_test = transformer.transform(car_sales_filled_train)

In [128]:
transform_X_test

<760x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3040 stored elements in Compressed Sparse Row format>

In [129]:
#Lets fit a model

np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor

model  = RandomForestRegressor()

In [130]:
model.fit(transformed_X_train, y_train)
model.score(transformed_X_test, y_test)

0.21229043336119102

In [132]:
#Check the length of the transformed data (filled and one-hot coded)vs length of original data
#the previous model was built on the car_sales, 
#the model just built was built on car_sales_filled
len(transformed_X_train.toarray())+len(transformed_X_test.toarray()), len(car_sales
                                                                         )

(950, 1000)

# the 50 less values in the transformed data is because i dropped the rows(50 total) with missing values from the Price column